.wrapper {
    color: var(--light);

}

.container {
    width: 100%;
    background-image: url('../../assets/images/bg_4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid var(--blue);
}

.container__bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.jobs__wrappes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem
}

.link {
    max-width: 25rem;
    margin-bottom: 2rem;
}

.link__img {
    width: 100%;
    border-radius: 1rem;
}

.link__img:hover {
    transform: scale(1.03);
}

.link>a {
    text-decoration: none;
}

.link__desc {
    text-align: center;
    color: var(--light);
}

@media (max-width: 1000px) {
    .wrapper {
        clip-path: none;
        margin: 0;
    }
}

@media (max-width: 576px) {
    .jobs__wrappes {
        flex-direction: column;
    }
}