.wrapper {
    color: var(--light);

}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.jobs__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem
}

.link {
    max-width: 45rem;
    margin-bottom: 2rem;
}

.link__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
}

.link__img:hover {
    transform: scale(1.03);
}

.link>a {
    text-decoration: none;
}

.link__desc {
    text-align: center;
    color: var(--light);
}

.text {
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}

@media (max-width: 900px) {
    .jobs__wrapper {
        flex-direction: column;
    }
}