.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 300;
    min-height: 70dvh;
    border-top: 2px solid var(--blue);
}

.container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5rem;
    justify-items: center;
    align-items: center;
}

.card {
    height: 450px;
    width: 35ch;
    cursor: pointer;
    transform: translate(0%, 0%);
    margin: 1rem;
}

.card:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(0);
}

.front,
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -1rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease;
    border-radius: 10px;
    color: var(--light);
    padding: 0 1rem;
    background: linear-gradient(var(--blue), var(--lightblue));
    border: 2px solid var(--dark);
}

.front {
    transform: perspective(600px) rotateY(0);
}

.back {
    transform: perspective(600px) rotateY(180deg);
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem
    }
}

@media (max-width: 576px) {
    .card {
        height: 400px;
        max-width: 25ch;
    }

    .front,
    .back {
        font-size: 1rem;
    }
}