.wrapper {
    color: var(--light)
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.card__wrapper {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 80px;
    height: 80px;
}

.text {
    font-size: 1.3rem;
    text-align: center;
}

@media (max-width: 900px) {
    .img {
        width: 60px;
        height: 60px;
    }

    .text {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {

    .card__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 90%;
        margin: 0 auto;
    }

    .img {
        width: 80px;
        height: 80px;
    }

    .text {
        font-size: 1.3rem;
    }

    .card__wrapper {
        flex-direction: column;
    }
}