.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark);
    padding: 1rem 0;
    min-height: 80px;
}

.menuItem {
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    width: 25%;
}

@media (max-width: 576px) {
    .wrapper {
        flex-direction: column;
        row-gap: 1rem;
    }
        .logo {
            width: 70%;
        }
}