.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark);
    padding: 1rem 0;
    width: 100vw;
    min-height: 80px;
}

.menuItem {
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
}


.logo__wrapper {
    max-width: 25%;
}

.logo {
    width: 100%;
}

@media (max-width: 576px) {
    .wrapper {
        flex-direction: column;
        row-gap: 1rem;
    }

    .logo__wrapper {
        min-width: 80dvw;
    }
}