.comtact__form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.3rem;
    gap: 1rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--light);
}


.contact__form__label {
    display: flex;
    justify-content: space-between;
}

.contact__form__label__input {
    width: 50%;
}


.contact__btn {
    padding: 0 3rem;
    cursor: pointer;
    margin: 0 auto;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .contact__form__label__text {
        font-size: 1rem;
    }
    
}