.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 1rem 2rem;
    min-height: 80px;
}

.logo {
    max-width: 25rem;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}


.menuItem {
    font-size: 1.5rem;
    color: var(--brown);
    text-decoration: none;
    text-transform: uppercase;
}

.burger {
    display: none;
}

@media (max-width: 1176px) {
    .menuItem {
        font-size: 1.2rem;
    }

    .logo {
        max-width: 20rem;
    }

    .menu {
        gap: 2rem;
    }
}

@media (max-width: 910px) {
    .menuItem {
        font-size: 1rem;
    }

    .logo {
        max-width: 15rem;
    }

    .menu {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 576px) {
    .logo {
        max-width: 12rem;
    }
}